/* **********
 * IMPORTS  *
 ********** */

/* Reset */
@import url('modules/reset.css');

/* Font */
@import url('modules/fonts.css');

/* Material Icons */
@import url('modules/material-icons.css');

/* Utilities */
@import url('modules/utilities.css');

/* Typography */
@import url('modules/typography.css');

/* Buttons */
@import url('modules/buttons.css');

/* Anchors */
@import url('modules/anchors.css');

/* Form */
@import url('modules/form.css');

/* Dialog */
@import url('modules/dialog.css');



/* **********
 * GLOBALS  *
 ********** */
:root {
  --primary-color: #212121;
  --primary-contrast-color: #000000;
  --accent-color: #212121;
  --accent-contrast-color: #000000;

  --success-color: #0f766e;
  --error-color: #991b1b;

  --text-color: #1f1d1d;
  --light-text-color: #696161;

  --app-background-color: #f7f1f1;
  --app-background-contrast-color: #e7e0e0;

  --font-size: 16px;
  font-size: var(--font-size);

  --app-header-height: 85px;
  --app-header-height-mobile: 65px;
}




/* *************
 * TEXT COLORS *
 ************* */
.primary-color { color: var(--primary-color) }
.accent-color { color: var(--accent-color) }
.success-color { color: var(--success-color) }
.error-color { color: var(--error-color) }
.text-color { color: var(--text-color) }
.light-text-color { color: var(--light-text-color) }





/* *****************
 * HORIZONTAL RULE *
 ***************** */
hr { 
  border-top: 1px solid var(--light-text-color);
  margin: 30px 0;
  border-radius: 5px;
}




/* *******
 * LISTS *
 ******* */
ul, ol {
  margin: 0;
}
ul li, ol li {
  margin: 15px 0;
}



/* ********
 * STRONG *
 ******** */
strong {
  font-weight: bold;
}





/* ****************
 * FLEX SEPARATOR *
 **************** */
.flex-separator {
  flex:1;
}





/* ****************
 * ROOT CONTAINER *
 **************** */
html {
  scroll-behavior: smooth;
}




/* ******
 * BODY *
 ****** */
body {
  font-family: "Montserrat", "Roboto", sans-serif;
  background-color: var(--app-background-color);
  color: var(--text-color);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height:100%;
}
body:has(dialog) {
  overflow-y: hidden;
}



/* ***************
 * APP CONTAINER *
 *************** */
#appContainer {
  min-height:100%;
}



/* **************
 * BUTTON BADGE *
 ************** */
.button-badge {
  background-color: #474343;
  color:white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size:0.7rem;
  font-weight: bold;
}




/* ************
 * APP HEADER *
 ************ */
#appContainer > header {
  background-color: var(--primary-color);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
  padding:15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: var(--app-header-height);
}

#appContainer > header img {
  max-width: 200px;
}

#appContainer > header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#appContainer > header nav .btn .button-badge {
  position: absolute;
  top:3px;
  right: 3px;
}

#appContainer > header nav .icon-btn {
  display:none;
}





/* *********
 * SIDENAV *
 ********* */
.sidenav-container {
  width: 100%;
  height:100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:2;
  display: flex;
  justify-content: flex-end;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container > section {
  width: 270px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
  height: 100%;
  animation: 0.3s sidenav-slide-left;
}
@keyframes sidenav-slide-left {
  from { transform: translateX(540px)}
  to { transform: translateX(0) }
}

.sidenav-container > section > header {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.sidenav-container > section > header h2 {
  margin: 0;
}

.sidenav-container > section > ul li .btn {
  width: 100%;
  justify-content: flex-start;
}




/* **************************
 * RESPONSIVE MEDIA QUERIES *
 ************************** */

/*
 * DEVICE: Desktops
 * SCREEN: 1281px to higher resolution desktops
 */
@media (min-width: 1281px) {

}





/*
* DEVICE: Laptops, Desktops
* SCREEN: B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {


}





/*
* DEVICE: Tablets, Ipads (portrait)
* SCREEN: B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {



  /* ************
   * APP HEADER *
   ************ */
   #appContainer > header {
    padding:15px;
    height: var(--app-header-height-mobile);
  }
  #appContainer > header img {
    max-width: 170px;
  }
  #appContainer > header nav .btn {
    display:none;
  }
  #appContainer > header nav .icon-btn {
    display:flex;
  }
}




/*
* DEVICE: Low Resolution Tablets, Mobiles (Landscape)
* SCREEN: B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {


  /* ************
   * APP HEADER *
   ************ */
   #appContainer > header {
    padding:15px;
    height: var(--app-header-height-mobile);
  }
  #appContainer > header img {
    max-width: 170px;
  }
  #appContainer > header nav .btn {
    display:none;
  }
  #appContainer > header nav .icon-btn {
    display:flex;
  }
}





/*
* DEVICE: Most of the Smartphones Mobiles (Portrait)
* SCREEN: 480px to lower resolution mobiles
*/
@media (max-width: 480px) {

  /* ************
   * APP HEADER *
   ************ */
  #appContainer > header {
    padding:15px;
    height: var(--app-header-height-mobile);
  }
  #appContainer > header img {
    max-width: 170px;
  }
  #appContainer > header nav .btn {
    display:none;
  }
  #appContainer > header nav .icon-btn {
    display:flex;
  }


}
